@import "../../styles/colors";

.tableWrap {
    width: 100%;
    font-size: 1rem;
    border-spacing: 0;
    background-color: darken($secondary, 3%);
    color: $gray-600;

    td {
        padding: 0.9em 1.2em;
        border-bottom: 1px solid lighten($primary, 8%);
        white-space: nowrap;

        &:first-child {
            padding-left: 2em;
            padding-right: 0;
        }

        @media (max-width: 991px) {
            &:first-child {
                display: none;
            }
            &:nth-child(2) {
                position: sticky;
                left: 0;
                background-color: darken($secondary, 3%);
                padding-right: 20x;
                z-index: 2;
            }
        }
    }
}

.tableHead {
    td {
        color: $primary;
        background-color: $accent;
        position: sticky;
        top: 0;
        font-weight: 700;
        z-index: 1;
        border-bottom: 1px solid lighten($primary, 20%);

        @media (max-width: 991px) {
            &:nth-child(2) {
                background-color: $accent;
            }
        }
    }
}

.coinNameWrap {
    display: flex;
    align-items: center;

    > * {
        flex-shrink: 0;
    }
}

.coinInfo {
    margin-left: 1em;
    font-weight: 700;
    display: flex;

    @media (max-width: 991px) {
        flex-direction: column;
    }
}

.coinName {
    @media (max-width: 991px) {
        margin-bottom: 0.5em;
    }
}

.coinMeta {
    @media (max-width: 991px) {
        font-size: 0.8rem;
    }
}

.coinRankMobile {
    padding: 0 0.4em;
    background-color: transparentize($gray-400, 0.85);
    color: transparentize($gray-400, 0.5);
    font-weight: 500;

    @media (min-width: 992px) {
        display: none;
    }
}

.coinSymbol {
    text-transform: uppercase;
    color: transparentize($gray-600, 0.5);
    font-weight: 500;
    margin-left: 0.5em;
}

.red {
    color: $red;
}

.green {
    color: $green;
}

.coinList {
    @media (max-width: 991px) {
        overflow-x: scroll;
    }
}