@import "../../styles/colors.scss";

.searchInput {
    display: block;
    max-width: 30rem;
    margin: 3rem auto;
    width: 100%;
    padding: 0.7em 1em;
    border-radius: 0.3em;
    border: 1px solid transparent;
    font-size: 1.2rem;
    background-color: $secondary;
    outline: none;
    color: $gray-400;

    &:focus {
        border-color: $accent;
    }
}
